body{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
    display: flex;
    padding: 20px 0;
    /* height: 200px; */
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;

}


.container .left-bar{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.container .left-bar img{
    width: 100px;
    height: 50px;
}

.container .left-bar button{
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-family: helvetica;
    outline: none;
    border: none;
    border: 1.5px solid black;
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
}

.container .left-bar button:nth-child(2){
    margin: 0 20px;
}


.container .left-bar button:nth-child(3){
    /* margin: 0 10px; */
    margin-right: 20px;
}
.container .left-bar .search-box{
    width: 300px;
    height: 35px;
    display: flex;
}

.container .left-bar .search-box .search-logo{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color:#ECECEC;
    cursor: pointer;
}

.container .left-bar .search-box input{
    width: 85%;
    height: 94%;
    display: flex;
    outline: none;
    border: none;
    background-color:#ECECEC;
}

.container .right-bar{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.container .right-bar  button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: blue;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
}

.container .right-bar p{
    color: black;
    font-size: 16px;
}

.container .right-bar p:nth-child(2){
    margin: 0 20px;
}

/* main-content */

.main-content{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 255, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .content-title{
    width: 47%;
    height: 80%;
    /* background-color: red; */
}

.main-content .content-title .title{
    width: 80%;
    overflow: hidden;
}

.main-content .content-title .title h2{
    color: whitesmoke;
    max-width: 80%;
    font-size: 25px;
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
}

.main-content .content-title .title p{
    max-width: 80%; 
    font-size: 16px; 
    /* background-color: aqua; */
    margin: 10px 0; 

}

.main-content .content-title .content-title-btn{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.main-content .content-title .content-title-btn button{
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-family: helvetica;
}

.main-content .content-title .content-title-btn button:nth-child(1){
    color: white;
    border: 1px solid white;
    background-color: transparent;

}

.main-content .content-title .content-title-btn button:nth-child(2){
    color: white;
    background-color: black;
    margin-left: 20px;

}

.main-content  .content-slide{
    width: 47%;
    height: 80%;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    margin: auto;
}


.main-content  .content-slide .box-slide-book{
    width: 80%;
    height: 300px ;
    background-color: red;
    margin: auto;
}


/* tab */


.tab-box{
    width: 90%;
    overflow: hidden;
    margin: 30px auto;
    border: 2px solid deepskyblue;
    border-radius: 3px;
}

.tab-box .tab-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.tab-box .tab-btn button{
    height: 35px;
    border: none;
    outline: none;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    font-family: sans-serif;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
}

.tab-box .tab-btn button:nth-child(1){
    background-color:#AF7AC5 ;
}

.tab-box .Default-box{
    width: 100%;
    overflow: hidden;
    display: flex;
}


.tab-box .Default-box .d-box{
    width: 20%;
    height: 300px;
    background-color: red;
    margin: 20px auto;
}

/* categories-box */

.tab-box .Categories-box{
    width: 100%;
    overflow: hidden;
    display: flex;
    transition: 2s all linear;
    display: none;
}

.tab-box .Categories-box .cate-box{
    width: 20%;
    height: 300px;
    background-color: blue;
    margin: 20px auto;
}


/* education-box */

.tab-box .Education-box{
    width: 100%;
    overflow: hidden;
    display: flex;
    transition: 2s all linear;
    display: none;
}

.tab-box .Education-box .edu-box{
    width: 20%;
    height: 300px;
    background-color: rgb(44, 231, 231);
    margin: 20px auto;
}

/* business */

.tab-box .Business-box{
    width: 100%;
    overflow: hidden;
    display: flex;
    transition: 2s all linear;
    display: none;
}

.tab-box .Business-box .bus-box{
    width: 20%;
    height: 300px;
    background-color: rgb(44, 231, 128);
    margin: 20px auto;
}

/* fantasy */

.tab-box .Fantasy-box{
    width: 100%;
    overflow: hidden;
    display: flex;
    transition: 2s all linear;
    display: none;
}

.tab-box .Fantasy-box .fan-box{
    width: 20%;
    height: 300px;
    background-color: rgb(203, 244, 39);
    margin: 20px auto;
}

/* collection-box */

.collection-box{
    width:90%;
    /* height: 600x; */
    overflow: hidden;
    margin: 20px auto;
    /* background-color: green; */
}

.collection-box h1{
    font-size: 25px;
    font-family: "Ubuntu",sans-serif;
    color: black;
    font-weight: bold;
}

.collection-box .crop-collection-slide{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-box .crop-collection-slide .collection{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: red;
}




/* rating-book */

.rating-book{
    width: 90%;
    overflow: hidden;
    margin:  20px auto ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-book .release{
    width: 32%;
    height: 220px;
    background-color: orangered;
    display: flex;
}

.rating-book .release .btn-title{
    width: 50%;
    height: 100%;
    
    display: flex;
}

.rating-book .release .btn-title .main-title{
    margin-left: 20px;
}

.rating-book .release .btn-title .main-title p{
    margin-top:50px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.rating-book .release .btn-title .main-title h1{
    margin: 0;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.rating-book .release .btn-title .main-title button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.518);
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.rating-book .release .book-cover{
    width: 50%;
    height: 100%;
    display: flex;
}

.rating-book .release .book-cover img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* pre order */
.rating-book .pre-order{
    width: 32%;
    height: 220px;
    background-color: rgb(34, 255, 0);
    margin: 0 2%;
    display: flex;
}


.rating-book .pre-order .btn-title1{
    width: 50%;
    height:100%;
    display: flex;
}

.rating-book .pre-order .btn-title1 .main-title1{
    margin-left: 20px;
}


.rating-book .pre-order .btn-title1 .main-title1 p{
    margin-top:50px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.rating-book .pre-order .btn-title1 .main-title1 h1{
    margin: 0;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.rating-book .pre-order .btn-title1 .main-title1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.518);
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.rating-book .pre-order .book-cover1{
    width: 50%;
    height: 100%;
    display: flex;
}

.rating-book .pre-order .book-cover1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* top rating*/

.rating-book .top-rate{
    width: 32%;
    height: 220px;
    background-color:deepskyblue;
    display: flex;
}


.rating-book .top-rate .btn-title2{
    width: 50%;
    height:100%;
    display: flex;
}

.rating-book .top-rate .btn-title2 .main-title2 {
    margin-left: 20px;
}


.rating-book .top-rate .btn-title2 .main-title2  p{
    margin-top:50px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

.rating-book .top-rate .btn-title2 .main-title2  h1{
    margin: 0;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.rating-book .top-rate .btn-title2 .main-title2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.518);
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.rating-book .top-rate .book-cover2{
    width: 50%;
    height: 100%;
    display: flex;
}

.rating-book .top-rate .book-cover2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* footer */

.footer-bar{
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.726);
}

.footer-bar .footer-bar-contain{
    width: 90%;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footer-bar .footer-bar-contain .free-delivery{
    display: flex;
    align-items: center;
}

.footer-bar .footer-bar-contain .free-delivery i{
    font-size: 30px;
    color: whitesmoke;
    margin-right: 20px;

}


.footer-bar .footer-bar-contain .free-delivery .deli-title h4{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: white;

}

.footer-bar .footer-bar-contain .free-delivery .deli-title p{
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.801);
}

/* expert-custom */
.footer-bar .footer-bar-contain .expert-custom{
    display: flex;
    align-items: center;
}

.footer-bar .footer-bar-contain .expert-custom i{
    font-size: 30px;
    color: whitesmoke;
    margin-right: 20px;


}

.footer-bar .footer-bar-contain .expert-custom .expert-title h4{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}

.footer-bar .footer-bar-contain .expert-custom .expert-title p{
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
}

/* value */
.footer-bar .footer-bar-contain .value{
    display: flex;
    align-items: center;
    
}

.footer-bar .footer-bar-contain .value i{
    font-size: 30px;
    color: whitesmoke;
    margin-right: 20px;

}

.footer-bar .footer-bar-contain .value .value-title h4{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}

.footer-bar .footer-bar-contain .value .value-title p{
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
}

/* payment */



.footer-bar .footer-bar-contain .payment{
    display: flex;
    align-items: center;
}

.footer-bar .footer-bar-contain .payment i{
    font-size: 30px;
    color: whitesmoke;
    margin-right: 20px;

}

.footer-bar .footer-bar-contain .payment .payment-title h4{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}

.footer-bar .footer-bar-contain .payment .payment-title p{
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
}

/* menu-footer */

.menu-footer{
    width: 100%;
    overflow: hidden;
    /* background-color: red; */
}

.menu-footer .menu-section-footer{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    /* background-color: blue; */
    justify-content: space-between
}

.menu-footer .menu-section-footer .help h2{
    font-size: 20px;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.767);
}


.menu-footer .menu-section-footer .help .li-help li{
    list-style: none;
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.831);
    cursor: pointer;

}

.menu-footer .menu-section-footer .help .li-help li:hover{
    text-decoration: underline cornflowerblue ;
}

.menu-footer .menu-section-footer .explore h2{
    font-size: 20px;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.767);
}

.menu-footer .menu-section-footer .explore .li-explore li{
    list-style: none;
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.831);
    cursor: pointer;
    display: block;
    text-decoration: none;

}

.menu-footer .menu-section-footer .explore .li-explore li:hover{
    text-decoration: underline cornflowerblue ;
}

.menu-footer .menu-section-footer .quickLink h2{
    font-size: 20px;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.767);
}

.menu-footer .menu-section-footer .quickLink .li-quickLink li{
    list-style: none;
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.831);
    cursor: pointer;
}

.menu-footer .menu-section-footer .quickLink .li-quickLink li:hover{
    text-decoration: underline cornflowerblue ;
}

.menu-footer .menu-section-footer .account h2{
    font-size: 20px;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.767);
}

.menu-footer .menu-section-footer .account .li-account li{
    list-style: none;
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.831);
    cursor: pointer;
}

.menu-footer .menu-section-footer .account .li-account li:hover{
    text-decoration: underline cornflowerblue ;
}

/* copy -right */

.copy-right{
    width: 90%;
    margin: 80px  auto 10px auto;
}

.copy-right p{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
}


